/* Medium devices (tablets, 700px and up) *****************************************************/
@media only screen and (min-width: 700px) {
  body {
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
  }

  img {
    max-width: 100%;
  }

  main {
  }

  #cards {
    grid-template-columns: 1fr;
    gap: 5px;
    border: 10px dashed green;
  }

  #cards div {
    /* border: yellow solid 3px; */
    /* display: grid; */

    text-align: center;
  }

  #cards section :nth-child(2) {
    color: red;
    font-style: italic;
    font-weight: bold;
  }

  #cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: ghostwhite;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #cards :nth-child(2) img {
    /* border: solid 3px black; */
    grid-column: 1;
    grid-row: 1;
  }

  #cards :nth-child(2) div {
    /* border: solid 3px orange; */
    grid-column: 2;
  }

  #cards h2 {
    margin-top: 0px;
    background-color: #d33f49;
    color: white;
    padding: 10px;
  }
}
